<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Dosis|Playfair+Display+SC|Montserrat" rel="stylesheet">
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <title>Personal Website</title>
</head>
<body>



<!-- Landing Page -->
<div id="h">
  <div id="h-header">
    <h1 id="h-header-title-wrap">
      <span id="h-header-title">Adventure</span>
    </h1>
    <div id="h-header-background-wrap">
      <img id="h-header-background" src="assets/images/01.png">
    </div>
    <div id="h-header-center-wrap">
      <img id="h-header-center" src="assets/images/02.png">
    </div>
    <div id="h-header-foreground-wrap">
      <img id="h-header-foreground" src="assets/images/talia.png">
    </div>
  </div>
    <!-- <div class="child-container"></div> -->
    <div class="child-container">
    </div>
</div>

<!-- Nav Bar -->
<div class="navBar">
  <div class="bar rectangle"></div>
  <a id="nav-logo" href="index.html">TG</a>
  <div id="nav-burger">
    <a href="#" id="nav-explore-wrap">EXPLORE</a>
    <div id="nav-burger-line-container">
      <a id="nav-toggle" href="#"><span></span></a>
    </div>
  </div>
</div>

<nav id="menu">
  <div id="menu-bg-wrap" class="go">
    <div id="menu-bg" class="go">
      <div id="menu-bg-tilt" class="animated slideInDown slideOutUp"></div>
    </div>
  </div>
<div id="menu-content-wrap">
  <div id="menu-content">
      <div class="menu-col animated fadeInUp fadeOutDown">
        <div class="menu-link-container">
          <div class="menu-link-wrap">
            <a class="menu-link menu-link-center menu-link-txt menu-link-title" href="#">Talia</a>
          </div>
        </div>
        <div class="menu-link-container">
          <div class="menu-link-wrap">
            <a class="menu-link menu-link-center menu-link-txt" href="#">Travel</a>
          </div>
        </div>
        <div class="menu-link-container">
          <div class="menu-link-wrap">
            <a class="menu-link menu-link-center menu-link-txt" href="#">Business</a>
          </div>
        </div>
        <div class="menu-link-container">
          <div class="menu-link-wrap">
            <a class="menu-link menu-link-center menu-link-txt" href="#">Fitness</a>
          </div>
        </div>
        <div class="menu-link-container">
          <div class="menu-link-wrap">
            <a class="menu-link menu-link-center menu-link-txt" href="#">Beauty</a>
          </div>
        </div>
      </div>
    <div class="menu-col-line-container">
      <div class="menu-col-line-wrap">
        <div class="menu-col-line"></div>
      </div>
    </div>
    <div class="menu-col animated fadeInUp fadeOutDown">
      <div class="menu-link-container">
        <div class="menu-link-wrap">
          <a class="menu-link menu-link-center menu-link-txt menu-link-title" href="#">Work</a>
        </div>
      </div>
      <div class="menu-link-container">
        <div class="menu-link-wrap">
          <a class="menu-link menu-link-center menu-link-txt" href="#">Website & Graphic Design</a>
        </div>
      </div>
      <div class="menu-link-container">
        <div class="menu-link-wrap">
          <a class="menu-link menu-link-center menu-link-txt" href="#">Brand Strategy</a>
        </div>
      </div>
      <div class="menu-link-container">
        <div class="menu-link-wrap">
          <a class="menu-link menu-link-center menu-link-txt" href="#">Content Creation</a>
        </div>
      </div>
      <div class="menu-link-container">
        <div class="menu-link-wrap">
          <a class="menu-link menu-link-center menu-link-txt" href="#">Public Speaking</a>
        </div>
      </div>
    </div>
    <div class="menu-col-line-container">
      <div class="menu-col-line-wrap">
        <div class="menu-col-line"></div>
      </div>
    </div>
    <div class="menu-col small animated fadeInUp fadeOutDown">
    <!-- <div class="menu-col small"> -->
        <div class="menu-link-container">
          <div class="menu-link-wrap">
            <a class="menu-link small" id="about-menu-title" href="#">About</a>
          </div>
        </div>
        <div class="menu-link-container">
          <div class="menu-link-wrap">
            <a class="menu-link small" href="#">Portfolio</a>
          </div>
        </div>
        <div class="menu-link-container">
          <div class="menu-link-wrap">
            <a class="menu-link small" href="#">Testimonials</a>
          </div>
        </div>
        <div class="menu-link-container">
          <div class="menu-link-wrap">
            <a class="menu-link small" href="https://sisterhood-of-the-ambitious-souls.com/">Blog</a>
          </div>
        </div>
        <div class="menu-column">
          <h3>Connect</h3>
          <div class="socialIcons">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="mailto:taliahaller@gmail.com"><i class="fab fa-google"></i></a>
            <a href="https://www.linkedin.com/in/talihaller"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/taliaaagrace/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</nav>

  <!-- Background Page -->
  <div id="h-content" class="page-height">
    <section id="h-intro">
      <video autoplay id="h-intro-video" src="assets/images/video.mp4" loop="loop" muted></video>
      <div id="h-intro-sail"></div>
      <div id="h-intro-txt">
        <h2 class="title title-l title-light title-marge-m">Fearless Design</h2>
        <div class="line-wrap">
          <div id="h-intro-line" class="line line-red"></div>
        </div>
        <p class="p-l p-light">Be on the edge. Cross the line. Hit refresh.
          <br>
          Natural. Authentic. Hone your vision.
        </p>
      </div>
    </section>
    <section id="h-about" class="btn-trigger-fx line-trigger-fx">
      <div id="h-about-me">
      </div>
      <div id="h-about-img-0">
      </div>
      <div id="h-about-img-1">
      </div>
      <div id="h-about-txt">
        <div class="subtitle subtitle-red">Talia Grace</div>
        <h2 class="title title-l title-dark title-marge-m">Designer, Adventurer.</h2>
        <div class="line-wrap">
          <div class="line line-red line-fx">
          </div>
        </div>
        <p class="p-s p-dark">I have a passion for design aesthetic as experienced through technology, people, nature, travel, photography, and art. My goal is to be a badass everyday and to live my life by ambitious design.</p>
        <!-- //Passionate about creating unique user experiences.
		     Interactive. Dynamic. Features that drive business growth.
		    Experience with design, development, and management.
		    Always learning; always growing. -->
        <div class="btn-wrap">
          <span class="btn-hover"></span>
          <a class="btn btn-red btn-txt" href="#">DISCOVER</a>
        </div>
      </div>
    </section>

    <!-- Blog Section -->
    <div id="h-blog">
      <div id="h-blog-title-wrap">
        <div id="h-blog-title">
          <div class="subtitle subtitle-red">portfolio</div>
          <h2 class="title title-xs title-light">Featured Projects</h2>
        </div>
      </div>
      <div id="h-blog-drag">
        <div id="portfolio-one" class="portfolio-image">
          <video autoplay id="h-example-video" src="assets/images/example-2.mov" loop="loop" muted></video>
          <div class="h-blog-txt">
            <div class="h-blog-li-txt-line"></div>
            <a class="h-blog-li-txt-title" href="#">LoveWork</a>
            <p>A co-working business in Portland, Oregon desired a website that matched their fun, playful, and inclusive aesthetic. </p>
            <!-- <a class="h-blog-li-txt-title" href="#">Talia Grace Portfolio</a>
            <p>A personal portfolio sight designed to showcase work in a unique and truly visual fashion with lots of movement.</p> -->
          </div>
        </div>
        <div id="portfolio-two" class="portfolio-image">
          <video autoplay id="h-example-video" src="assets/images/instagram-example.mov" loop="loop" muted></video>
          <div class="h-blog-txt">
            <div class="h-blog-li-txt-line"></div>
            <a class="h-blog-li-txt-title" href="#">Bucha Belly</a>
            <p>A kombucha company in Seattle wanted an Instagram branding strategy that would speak to fit & fun 18 to 24-yr-old females. </p>
          </div>
        </div>
        <div id="portfolio-two" class="portfolio-image">
          <video autoplay id="h-example-video" src="assets/images/avenida.mov" loop="loop" muted></video>
          <div class="h-blog-txt">
            <div class="h-blog-li-txt-line"></div>
            <a class="h-blog-li-txt-title" href="#">Avenida</a>
            <p>A shoe company start-up was looking for a logo, brand strategy, and website designed with the "slick streetware" feeling.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Get In Touch Banner -->
    <div class="get-in-touch">
      <h2 class="title title-l title-dark">Get In Touch</h2>
      <div class="inputGroup">
        <input type="text" name="emailaddress" placeholder="Enter your email address">
        <img src="assets/images/arrow.png">
      </div>
    </div>

<!-- Footer Section -->
      <footer class="container-fluid text-center">
        <div class="footer-column">
          <h3>Contact Me</h3>
          <h5>taliahaller@gmail.com <br> 360.791.0449</h5>
        </div>
        <div class="footer-column">
          <a id="footer-logo" href="index.html">TG</a>
        </div>
        <div class="footer-column">
          <h3>Connect</h3>
          <div class="socialIcons">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="mailto:taliahaller@gmail.com"><i class="fab fa-google"></i></a>
            <a href="https://www.linkedin.com/in/talihaller"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/taliaaagrace/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      </footer>
  </div>

  <!-- </div> -->
  </body>
</html>
