<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Personal Website</title>
</head>
<body>


<div id="h">
  <div id="h-header">
    <h1 id="h-header-title-wrap">
      <span id="h-header-title">Adventure</span>
    </h1>
    <div id="h-header-background-wrap">
      <img id="h-header-background" src="assets/images/01.png">
    </div>
    <div id="h-header-center-wrap">
      <img id="h-header-center" src="assets/images/02.png">
    </div>
    <div id="h-header-foreground-wrap">
      <img id="h-header-foreground" src="assets/images/03.png">
    </div>
  </div>
</div>

  <a id="nav-logo" href="index.html">
    <div id="nav-logo-dark">
      <i class="fas fa-globe-asia"></i>
      <p>J & T Designs</p>
    </div>
    <div id="nav-logo-light">
      <i class="fas fa-globe-asia"></i>
      <p>J & T Designs</p>
    </div>
  </a>

  <div id="nav-burger" class="test">
    <div id="nav-explore-wrap">
      <div id="nav-explore">
        <div id="nav-explore-dark">EXPLORE
        </div>
        <div id="nav-explore-light">EXPLORE
        </div>
      </div>
    </div>
    <div id="nav-burger-line-container">
      <div id="burger-dark"><i class="fas fa-bars"></i></div>
      <div id="burger-light"><i class="fas fa-bars"></i></div>
    </div>
  </div>








</body>
</html>
