<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Personal Website</title>
</head>
<body>


<div id="h">
  <div id="h-header">
    <h1 id="h-header-title-wrap">
      <span id="h-header-title">Adventure</span>
    </h1>
    <div id="h-header-background-wrap">
      <img id="h-header-background" src="assets/images/01.png">
    </div>
    <div id="h-header-center-wrap">
      <img id="h-header-center" src="assets/images/02.png">
    </div>
    <div id="h-header-foreground-wrap">
      <img id="h-header-foreground" src="assets/images/03.png">

    </div>
  </div>

</div>



</body>
</html>
