// Colors
$blue: #c2d4d9;
$white: #f4f5f1;
$navFill: #2b2d30;
$aboutbg: #212121;
$linecolor: #a52c52;
$dark: #212322;



html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  // overflow-y: scroll;
  margin: 0;
  padding: 0;
  height: 110%;
}

img, video {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a, img, section, svg, video {
  display: block;
}
// Not sure how this will affect all elements

p {
  font-family: "Hiragino sans";
}

#h, #h-header {
  overflow: hidden;
}

#h-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  background-image: url(./../images/00.jpg);
  background-repeat: no-repeat;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

#h-header-title-wrap {
  position: absolute;
  bottom: 14vw;
  left: 7.5vw;
  font-size: 12vw;
  letter-spacing: -.02em;
  line-height: 85%;
}

#h-header-title {
  float: left;
  // Unsure what float is doing
  background-image: linear-gradient(180deg, $blue, $white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#h-header-background-wrap, #h-header-center-wrap, #h-header-foreground-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#nav-logo {
  position: fixed;
  z-index: 1;
  top: 27px;
  left: 76px;
  width: 160px;
  height: 33px;
    div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    i {
    font-size: 35px;
    width: 30px;
    padding-right: 15px;
    }
    p {
      width: 60px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .1em;
    }
  }
}

#nav-burger {
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 30px;
  width: 200px;
  height: 70px;
  #nav-explore-wrap {

    #nav-explore {
      div {
        position: absolute;
        top: 50px;
        left: 20px;
        font-size: 13px;
        letter-spacing: .2em;
      }
    }
  }
  #nav-burger-line-container {
    div{
    position: absolute;
    right: 50px;
    top: 35px;
    font-size: 30px;
    }
  }
}

#nav-logo-dark, #nav-explore-dark, #burger-dark {
  color: $navFill;
}

#nav-logo-light, #nav-explore-light, #burger-light {
  color: white;
  opacity: 0;
}


// About header

#h-intro {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  justify-content: center;
  background: $aboutbg;
}

#h-intro-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  video {
    object-fit: contain;
  }
}

#h-intro-sail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.7);
}

#h-intro-txt {
  position: relative;
  height: 150px;
  top: 49%;
  left: -100px;
  margin: 0 0 0 -1.825vw;
  color: white;
}

.title-light {
  color: white;
}
.title-dark, .p-dark {
  color: $dark;
}
.title-marge-m {
  margin: 0 0 0 -3.65vw
}
.title-l {
  font-size: 4.16vw;
  font-weight: 500;
  letter-spacing: .03em;
}
.title {
  line-height: 150%;
  letter-spacing: .03em;
}

.line-wrap {
  position: relative;
  margin: 1.98vw 0 0;
  width: 50px;
  height: 2px;
  overflow: hidden;
  .line-red {
    background-color: $linecolor;
  }
  .line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.p-light {
  color: white;
}

.p-l {
  font-size: 1.5vw;
  letter-spacing: 0.02em;
  line-height: 200%;
  font-weight: 100;
}

.p-l, .p-m {
  margin: 2.083vw 0 0;
}


// About Section

#h-about {
  position: relative;
  height: 62vw;
}

#h-about-me {
  background-image: url(./../images/example-0-7.jpg);
  top: 0;
  left: 0;
  width: 55vw;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

#h-about-me, #h-about-img-0 {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

#h-about-img-0 {
  background-image: url(./../images/example-1.jpg);
  top: 7%;
  left: 10.1vw;
  width: 36.875vw;
  height: 41vw;
}

#h-about-img-1 {
  background-image: url(./../images/example-2.jpg);
  position: absolute;
  top: 66%;
  left: 27vw;
  width: 33.33vw;
  height: 17.5vw;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

#h-about-txt {
  position: absolute;
  top: 24.16%;
  right: 10%;
  width: 20.83vw;
  .title-marge-m {
    margin: 0 0 0 -5vw
  }
  p {
    width: 22vw;
    font-size: 1.2vw;
    font-weight: 200;
    line-height: 180%;
  }
}

.subtitle-red {
  color: $linecolor;
}

.subtitle {
  font-size: 1.25vw;
  padding: 0 0 1.146vw;
}

.btn-wrap {
  position: relative;
  margin: 2.08vw 0 0;
  overflow: hidden;
  user-select: none;
  width: 9.63vw;
  height: 2.6vw;
  line-height: calc(2.66vw - 4px);
  cursor: pointer;
}

.btn-red {
   border: 2px solid $linecolor;
}

.btn {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
    span {
      font-size: 1vw;
    }
}

.btn-cover-red {
  display: none;
  background-color: $linecolor;
}

.btn-cover {
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// .btn:hover + .btn-cover{
//     display: block;
//   }

#h-blog {
  position: relative;
  margin: -1px 0 0;
  width: 100%;
  background-color: $dark;
  overflow: hidden;
}
#h-blog-titile-wrap {
  width: 100%;
  height: 11.61vw;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
#h-blog-title {
  text-align: center;
  .subtitle {
    margin-top: 35px;
  }
}




// Animation

.scrolledFast {
  animation: foreground 2s ease-in-out forwards;
}

.scrolledSlow {
  animation: foreground 4s ease-in forwards;
}

.scrolledSmall {
  animation: background1 4s ease-in forwards;
}

@keyframes foreground {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes background {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
