// Colors
$blue: #c2d4d9;
$white: #f4f5f1;


html {
  font-family: "Hiragino sans";
  font-size: 16px;
}

body {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

#h, #h-header {
  overflow: hidden;
}

#h-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  background-image: url(./../images/00.jpg);
  background-repeat: no-repeat;
}

#h-header-title-wrap {
  position: absolute;
  bottom: 20.9vw;
  left: 7.5vw;
  font-size: 13vw;
  letter-spacing: -.01em;
  line-height: 85%;
}

#h-header-title {
  float: left;
  // Unsure what float is doing
  background-image: linear-gradient(180deg, $blue, $white);
  color: transparent;
  webkit-background-clip: text;
  background-clip: text;
}
