// menu

#menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  // animation-duration: 3s;
}

#menu-bg-wrap {
  overflow: hidden;
}

#menu-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#menu-bg-tilt {
  position: absolute;
  top: -50%;
  left: -50%;
  bottom: -50%;
  right: -50%;
  background-size: cover;
  background-position: 50%;
  background-image: url(./../images/menu-bg.jpg);
}

#menu-content, #menu-content-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
}

#menu-content-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.menu-col {
  position: relative;
  float: left;
  width: 20vw;
  .menu-link-container {
    position: relative;
    font-size: calc(.8rem + 2.4vh);
    letter-spacing: -.025em;
    color: white;
    .menu-link-wrap {
      position: relative;
      margin: 0 0 1.05vh;
      display: block;
      overflow: hidden;
    }
  }
}

.menu-link-wrap:first-child .menu-link {
  margin: 0;
}

.menu-link {
  float: left;
  padding: 0 8px;
  line-height: 130%;
  .menu-link-txt {
    position: relative;
    display: block;
  }
}

.menu-col-line-container {
  float: left;
  width: 8.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .menu-col-line-wrap {
    position: relative;
    height: 100%;
    width: 1px;
    overflow: hidden;
    .menu-col-line {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #626265;
    }
  }
}
